body {
	background-image: url('assets/topper.jpg');
	background-size: cover;
	background-position: center;
}

.singleBurger {
	border: 2px solid blue;
	background-color: lightblue;
	width: 60%;
	margin: 10px auto;
	padding: 10px;
}

.mainContent {
	border: 12px solid red;
}

#top {
	color: white;
	text-align: center
}

img {
	width: 25%;
	vertical-align: middle;
	padding: 10px;
}

p {
	width: 70%;
	vertical-align: middle;
	display: inline-block;
}